alembic==1.13.1
annotated-types==0.7.0
anyio==4.6.2.post1
charset-normalizer==3.4.0
click==8.1.7
cloudinary==1.41.0
exceptiongroup==1.2.2
fastapi==0.115.4
greenlet==3.1.1
httplib2==0.22.0
httptools==0.6.4
MarkupSafe==3.0.2
numpy==2.2.1
opencv-python-headless==4.10.0.84
protobuf==5.29.2
psycopg2-binary==2.9.10
pydantic==2.9.2
python-multipart==0.0.19
requests==2.32.3
SQLAlchemy==2.0.25
starlette==0.41.2
uvicorn==0.32.0
uvloop==0.21.0
websockets==14.1
